# Godot 4+ specific ignores
.godot/
/android/
/.vs
/addons
Images/godotwaka.png
Images/godotwaka.png.import
Images/godotwaka2.png
Images/godotwaka2.png.import
Images/icon.jpg
Images/icon.jpg.import
LICENSE
